<footer id="footer">
 <div class='top_footer'>
  <div class='container_'>
   <div class='footer__block'>
    <form class=' flex-column form_footer content_footer '>
     <h1 class='h1_footer'>Онлайн-запис</h1>
     <div class='name_phone'>
      <input type="text" id="name" placeholder="ІМ'Я*" required minlength="4" maxlength="12" size="10">
      <input id="phone" placeholder="ТЕЛЕФОН">
     </div>
     <div class="message_form d-flex flex-column">
      <label class='label_message' for='message'>ПОВІДОМЛЕННЯ</label>
      <textarea id="message" name="message"></textarea>
     </div>
     <div class=' d-flex'>
      <a class='btn_services services_link' href="./">онлайн-запис</a>
     </div>
    </form>
    <div class='d-flex contacts_footer'>
     <div class='content_contacts_footer content_footer'>
      <h1 id="contacts"class='h1_footer'>Контакти</h1>
      <div class='d-flex location_footer'>
       <span class='icon_map'>
        <svg width="24" height="24">
         <use href="./images/svg/sprite.svg#icon-map-pin"></use>
        </svg>
       </span>
       <span class='address_footer'> вул. Василькова, 7А Київ, 08132</span>
      </div>
      <a href="tel:+38 044 111 11 11" class='phone_wrap heder__link'>
       <span>
        <svg width="24" height="24">
         <use href="./images/svg/sprite.svg#icon-Shape"></use>
        </svg>
       </span>
       <span class='phone_text'>+38 044 111 11 11</span>
      </a>
      <a href='mailto:barbershop@email.com ' class='mail_footer heder__link'>
       <span>
        <svg width="24" height="24">
         <use href="./images/svg/sprite.svg#icon-mail"></use>
        </svg>
       </span>
       <span class='mail_text'>barbershop@email.com</span>
      </a>
      <div class='decor d-flex'>
       <div class='hr_footer'></div>
       <p class='p_1_decor_footer'>ЧАС РОБОТИ</p>
      </div>
      <p class='time_text'>Щоденно з 9:00 до 22:00</p>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class='bottom_footer'>
  <div class="bottom_footer__container">
   <div>
    <svg width="127" height="15">
     <use href="./images/svg/sprite.svg#icon-Copyright"></use>
    </svg>
   </div>
   <div class='d-flex'>
    <ul class="d-flex social__link__list_footer">
     <li><a class="social__link__item_footer" href="./">Youtube</a></li>
     <li><a class="social__link__item_footer" href="./">Instagram</a></li>
    </ul>
   </div>
  </div>

 </div>


</footer>