<section id="masters"class="masters">
 <div class="container_">
  <div class='decor d-flex'>
   <div class='hr_masters'></div>
   <p class='p_1_masters'>ДЛЯ СПРАВЖНІХ ПОЦІНОВУВАЧІВ АТМОСФЕРИ</p>
  </div>
  <h2 class="h1_masters">Наші майстри</h2>
  <div class="container_block">
   <div class="master_1 ">
    <img class="mb_30" src="images/masters/img1_master.jpg">
    <p class="name_masters">John Smith</p>
    <p class="level_master mb_30">Extreme Barber</p>
    <ul class="social__list--svg">
     <li class="social__item--svg"><svg class="social__svg" width="25" height="25">
       <use href="./images/svg/sprite.svg#instagram"></use>
      </svg>
     </li>
     <li class="social__item--svg"><svg class="social__svg" width="25" height="25">
       <use href="./images/svg/sprite.svg#twitter"></use>
      </svg>
     </li>
     <li class="social__item--svg"><svg class="social__svg" width="25" height="25">
       <use href="./images/svg/sprite.svg#facebook"></use>
      </svg>
     </li>
     <li class="social__item--svg"><svg class="social__svg" width="25" height="25">
       <use href="./images/svg/sprite.svg#linkedin"></use>
      </svg>
     </li>
    </ul>

   </div>
   <div class="master_2 ">
    <img class="mb_30" src="images/masters/img2__master.jpg">
    <p class="name_masters">Michele Doe</p>
    <p class="level_master mb_30">Extreme Barber</p>
    <ul class="social__list--svg ">
     <li class="social__item--svg"><svg class="social__svg" width="25" height="25">
       <use href="./images/svg/sprite.svg#instagram"></use>
      </svg>
     </li>
     <li class="social__item--svg"><svg class="social__svg" width="25" height="25">
       <use href="./images/svg/sprite.svg#twitter"></use>
      </svg>
     </li>
     <li class="social__item--svg"><svg class="social__svg" width="25" height="25">
       <use href="./images/svg/sprite.svg#facebook"></use>
      </svg>
     </li>
     <li class="social__item--svg"><svg class="social__svg" width="25" height="25">
       <use href="./images/svg/sprite.svg#linkedin"></use>
      </svg>
     </li>
    </ul>
   </div>
   <div class="master_3 ">
    <img class="mb_30" src="images/masters/img3_master.jpg">
    <p class="name_masters">Alan Black</p>
    <p class="level_master mb_30">Extreme Barber</p>
    <ul class="social__list--svg">
     <li class="social__item--svg "><svg class="social__svg" width="25" height="25">
       <use href="./images/svg/sprite.svg#instagram"></use>
      </svg>
     </li>
     <li class="social__item--svg"><svg class="social__svg" width="25" height="25">
       <use href="./images/svg/sprite.svg#twitter"></use>
      </svg>
     </li>
     <li class="social__item--svg"><svg class="social__svg" width="25" height="25">
       <use href="./images/svg/sprite.svg#facebook"></use>
      </svg>
     </li>
     <li class="social__item--svg"><svg class="social__svg" width="25" height="25">
       <use href="./images/svg/sprite.svg#linkedin"></use>
      </svg>
     </li>
    </ul>
   </div>

  </div>

 </div>
</section>





<!--<section class="section__our">-->
<!-- <div class="container__our">-->
<!--  <h3 class="out__text">для справжніх поціновувачів атмосфери</h3>-->
<!--  <h2 class="our__title">Найші майстри</h2>-->
<!--  <div class="container__wraper">-->
<!--   <div class="wraper__our&#45;&#45;img">-->
<!--    <img src="./images/our/img1.jpg" alt="img1">-->
<!--    <h2 class="wraper__title">John Smith</h2>-->
<!--    <p class="wraper__text&#45;&#45;specification">Extreme Barber</p>-->
<!--    <ul class="social__list&#45;&#45;svg">-->
<!--     <li class="social__item&#45;&#45;svg"><svg width="25" height="25">-->
<!--       <use href="./images/svg/sprite.svg#instagram"></use>-->
<!--      </svg>-->
<!--     </li>-->
<!--     <li class="social__item&#45;&#45;svg"><svg width="25" height="25">-->
<!--       <use href="./images/svg/sprite.svg#twitter"></use>-->
<!--      </svg>-->
<!--     </li>-->
<!--     <li class="social__item&#45;&#45;svg"><svg width="25" height="25">-->
<!--       <use href="./images/svg/sprite.svg#facebook"></use>-->
<!--      </svg>-->
<!--     </li>-->
<!--     <li class="social__item&#45;&#45;svg"><svg width="25" height="25">-->
<!--       <use href="./images/svg/sprite.svg#linkedin"></use>-->
<!--      </svg>-->
<!--     </li>-->
<!--    </ul>-->
<!--   </div>-->
<!--   <div class="container__wraper">-->
<!--    <div class="wraper__our&#45;&#45;img">-->
<!--     <img src="./images/our/img2.jpg" alt="img2">-->
<!--     <h2 class="wraper__title">JMichele Doe</h2>-->
<!--     <p class="wraper__text&#45;&#45;specification">Extreme Barber</p>-->
<!--     <ul class="social__list&#45;&#45;svg">-->
<!--      <li class="social__item&#45;&#45;svg"><svg width="25" height="25">-->
<!--        <use href="./images/svg/sprite.svg#instagram"></use>-->
<!--       </svg>-->
<!--      </li>-->
<!--      <li class="social__item&#45;&#45;svg"><svg width="25" height="25">-->
<!--        <use href="./images/svg/sprite.svg#twitter"></use>-->
<!--       </svg>-->
<!--      </li>-->
<!--      <li class="social__item&#45;&#45;svg"><svg width="25" height="25">-->
<!--        <use href="./images/svg/sprite.svg#facebook"></use>-->
<!--       </svg>-->
<!--      </li>-->
<!--      <li class="social__item&#45;&#45;svg"><svg width="25" height="25">-->
<!--        <use href="./images/svg/sprite.svg#linkedin"></use>-->
<!--       </svg>-->
<!--      </li>-->
<!--     </ul>-->
<!--    </div>-->
<!--    <div class="container__wraper">-->
<!--     <div class="wraper__our&#45;&#45;img">-->
<!--      <img src="./images/our/img3.jpg" alt="img3">-->
<!--      <h2 class="wraper__title">Alan Black</h2>-->
<!--      <p class="wraper__text&#45;&#45;specification">Extreme Barber</p>-->
<!--      <ul class="social__list&#45;&#45;svg">-->
<!--       <li class="social__item&#45;&#45;svg"><svg width="25" height="25">-->
<!--         <use href="./images/svg/sprite.svg#instagram"></use>-->
<!--        </svg>-->
<!--       </li>-->
<!--       <li class="social__item&#45;&#45;svg"><svg width="25" height="25">-->
<!--         <use href="./images/svg/sprite.svg#twitter"></use>-->
<!--        </svg>-->
<!--       </li>-->
<!--       <li class="social__item&#45;&#45;svg"><svg width="25" height="25">-->
<!--         <use href="./images/svg/sprite.svg#facebook"></use>-->
<!--        </svg>-->
<!--       </li>-->
<!--       <li class="social__item&#45;&#45;svg"><svg width="25" height="25">-->
<!--         <use href="./images/svg/sprite.svg#linkedin"></use>-->
<!--        </svg>-->
<!--       </li>-->
<!--      </ul>-->
<!--     </div>-->
<!--    </div>-->
<!--</section>-->